---
import DemoGame from "game/demo/DemoGame.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Game">
  <main>
    <DemoGame />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    width: 100%;
    height: 100%;
  }
  .container {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
    height: 100%;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
